* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    border: 30px;
    border-style: solid;
    border-color: #D70B0B;
    margin: 0;
    padding: 0;
}

main {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
}

.contenedor {
    padding: 4% 0;
    width: 90%;
    max-width: 1300px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #860505;
    font-size: 30px;
    text-align: center;
    margin-bottom: 4%;
}

header {
    background: #D70B0B;
    /* Cambia esto al color de fondo que desees */
    padding: 10px;
    position: relative;
    z-index: 1000;
    /* Ajusta el índice z según sea necesario */
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-left: auto;
}

nav {
    display: flex;
    padding: 30px 50px 0 0;
    margin-top: 0;
}

nav a {
    margin-left: 20px;
    /* Ajusta el margen izquierdo en lugar de margin-right */
    text-decoration: none;
    color: #ffffff;
}

nav a:hover {
    text-decoration: underline;
    /* Agrega underline para asegurar que se muestre la línea inferior */
}

#Logo {
    width: 200px;
    /* Ajusta el ancho según tus necesidades */
    height: auto;
    /* Esto asegura que la altura se ajuste automáticamente manteniendo la proporción original */
}

.textos-header {
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.textos-header h1 {
    font-size: 30px;
    color: #D70B0B;
}

.contenedor-proyecto {
    display: flex;
    justify-content: space-evenly;
    /* Ajusta según sea necesario */
    background-color: #f2f2f2;
    /* Color de fondo deseado */
    padding: 20px;
    /* Añade un poco de espacio interno si lo deseas */
    border-radius: 10px;
    /* Ajusta según sea necesario */
    flex-direction: row-reverse;
}

.contenedor-introduccion {
    text-align: justify;
    max-width: 850px;
}

.contenedor-introduccion h2 {
    justify-content: center;
}

.contenedor-proyecto {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Opcional: Centra verticalmente */
    width: 100%;
    height: auto;
    /* Esto asegura que el contenedor ocupe al menos el 100% de la altura de la ventana */
}

.imagen-introduccion {
    width: 60%;
    height: auto;
    display: block;
    margin: auto;
    text-align: center;
}

.contenedor-proyecto h3 {
    margin-bottom: 15px;
}


.contenedor-proyecto1 {
    display: flex;
}

.contenedor-formula {
    display: flex;
    justify-content: space-evenly;
    /* Ajusta según sea necesario */
    background-color: #f2f2f2;
    /* Color de fondo deseado */
    padding: 20px;
    /* Añade un poco de espacio interno si lo deseas */
    border-radius: 10px;
    /* Ajusta según sea necesario */
    flex-direction: row-reverse;
    text-align: justify;
}

.contenedor-explicacion {
    text-align: left;
    margin-top: 10px;
    max-width: auto;
    margin-left: 20px;
}

.contenedor-explicacion h3 {
    margin-bottom: 15px;
    margin-top: 15px;
    color: #1A4753;
}

.contenedor-explicacion h4 {
    margin-bottom: 15px;
    margin-top: 15px;
    color: #1A4753;
}

.contenedor-explicacion p {
    margin-bottom: 15px;
    margin-top: 15px;
}

.chart_div2 {
    display: flex;
    justify-content: space-around;
}

.contenedor-planteamiento {
    margin-top: 5px;
    margin-right: 20px;
    max-width: 560px;
    max-height: auto;
    text-align: justify;
}

.contenedor-video {
    display: flex;
    flex-direction: column;
    /* Establece la dirección del flexbox a columna */
    align-items: center;
    /* Centra los elementos horizontalmente */
    text-align: center;
    /* Alinea el texto al centro */
    max-width: 800px;
    /* Ajusta este valor según tus necesidades */
    margin: auto;
    /* Esto centra el contenedor en la página */
    /* Ajusta según sea necesario */
    background-color: #f2f2f2;
    /* Color de fondo deseado */
    padding: 20px;
    /* Añade un poco de espacio interno si lo deseas */
    border-radius: 10px;
    /* Ajusta según sea necesario */
    flex-direction: row-reverse;
}

.titulo-video {
    margin-bottom: 20px;
    /* Espaciado opcional entre el título y el video */
}

.contenedor-proyecto1 h3 {
    margin-bottom: 15px;
    margin-top: 15px;
}

.contenedor-todo {
    display: flex;
    justify-content: space-around;
    /* Ajusta según tus necesidades */
}

.contenido-textos3 {
text-align: justify;
    margin-bottom: 15px;
    margin-top: 15px;
    max-width: 900px;
    max-height: auto;
}

.contenido-textos3 h3 {
    margin-bottom: 15px;
}

.contenido-textos3 p {
    margin-bottom: 25px;
}

/* Estilos para el gráfico */
.grafico {
    display: flex;
    justify-content: center;
}

#grafico-container {
    width: 100%;
    /* Ajusta según sea necesario */
    margin: auto;
}

#piechart {
    width: 100%;
    height: 400px;
    /* Ajusta según sea necesario */
}

.contenedor-info {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    /* Ajusta según sea necesario */
    background-color: #f2f2f2;
    /* Color de fondo deseado */
    padding: 20px;
    /* Añade un poco de espacio interno si lo deseas */
    border-radius: 10px;
    /* Ajusta según sea necesario */
    flex-direction: row;
}

.contenido-textos4 {
    text-align: justify;
    margin-top: 10px;
    max-width: auto;
    margin-left: 20px;
}

.imagen-1 {
    max-width: 50%;
    /* Ajusta según sea necesario */
    height: auto;
    margin-top: 10px
}

.imagen-informacion {
    width: 50%;
    height: auto;
}

.contenido-textos4 h2 {
    margin-bottom: 15px;
    margin-top: 15px;
    color: #860505;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

.contenido-textos4 h3 {
    margin-bottom: 15px;
    margin-top: 15px;
}

.contenido-textos4 h3 span {
    background: rgb(170, 154, 9);
    color: snow;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0);
    margin-right: 5px;
}

.contenido-desinformacion {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    padding: 40px;
    margin-top: center;
    border-radius: 10px;
    text-align: justify;
}

.contenido-desinformacion h3 {
    margin-right: 20px;
}

.contenedor-umm {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    padding: 40px;
    margin-top: 10px;
    border-radius: 10px;
}

.contenedor-propuesta {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    padding: 40px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: justify;
}

.contenedor-estudiantes h3 {
    margin-bottom: 15px;
    margin-top: 15px;
    color: #1A4753;
}

.contenedor-estudiantes h4 {
    margin-bottom: 15px;
    margin-top: 15px;
}

.contenedor-umm h4 span {
    background: #860505;
    color: snow;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0);
    margin-right: 5px;
}

.contenedor-propuesta h4 span {
    background: rgb(4, 50, 94);
    color: snow;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0);
    margin-right: 5px;
}

.contenedor-final {
    margin-top: center;
    /* Ajusta según sea necesario */
    background-color: #D70B0B;
    /* Color de fondo deseado */
    padding: 40px;
    /* Añade un poco de espacio interno si lo deseas */
    border-radius: 10px;
    /* Ajusta según sea necesario */
}

.contenedor-texto p {
    color: #ffffff;
    font-size: medium;
    text-align: center;
}

.contenedor-frase {
    margin-top: 50px;
    color: #ffffff;
    font-size: xx-large;
    text-align: center;
}

footer {
    background: #D70B0B;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.contenido-foo {
    text-align: center;
}

.contenido-foo h4 {
    color: #fff;
    border-bottom: 3px solid #fff;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.contenido-foo p {
    color: #fff;
}

.titulo-final {
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #fff;
}

/* Media queries para tamaños de pantalla específicos */

@media only screen and (max-width: 768px) {
    .textos-header {
        font-size: 26px;
        margin-bottom: 30px;
        text-align: center;
    }

    /* Agrega más estilos específicos para tamaños de pantalla más pequeños si es necesario */
}



/* Media queries para tamaños de pantalla específicos */

@media only screen and (max-width: 768px) {
    .titulo {
        font-size: 24px;
    }

    /* Agrega más estilos específicos para tamaños de pantalla más pequeños si es necesario */
}

@media screen and (max-width: 600px) {
    main {
        max-width: 100%;
        padding: 10px;
    }
}

/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 600px) {

    /* Ajusta el diseño del menú para pantallas pequeñas */
    nav {
        display: none;
        /* Puedes ocultar el menú principal */
    }

    /* Agrega un botón para mostrar el menú en pantallas pequeñas */
    .menu-btn {
        display: block;
    }
}

/* Estilos para pantallas más grandes */
@media only screen and (min-width: 601px) {

    /* Ajustes adicionales para pantallas más grandes */
    nav {
        display: flex;
    }

    /* Oculta el botón de menú en pantallas más grandes */
    .menu-btn {
        display: none;
    }
}

/* Estilos generales para las imágenes */
.imagen-4 {
    max-width: 100%;
    height: auto;
}

/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 600px) {
    .imagen-4 {
        display: none;
        /* Oculta las imágenes en pantallas pequeñas */
    }
}

/* Consulta de medios para dispositivos móviles */
@media screen and (max-width: 768px) {
    .contenedor-todo {
        flex-direction: column;
        /* Cambia la dirección a columna en dispositivos móviles */
        justify-content: center;
        align-items: center;
        /* Añade esta línea si es necesario centrar verticalmente */
    }

    .contenedor-datos,
    .grafico {
        /* Agrega estilos específicos para centrar en dispositivos móviles si es necesario */
        text-align: center;
        margin: auto;
        /* Puedes agregar esto para centrar horizontalmente */
    }
}

/* Consulta de medios para dispositivos móviles */
@media screen and (max-width: 768px) {
    .contenedor-proyecto1 {
        flex-direction: column;
        /* Cambia la dirección a columna en dispositivos móviles */
        justify-content: center;
        align-items: center;
        /* Añade esta línea si es necesario centrar verticalmente */
    }

    .contenedor-planteamiento,
    .contenedor-video {
        /* Agrega estilos específicos para centrar en dispositivos móviles si es necesario */
        text-align: center;
        margin: auto;
        /* Puedes agregar esto para centrar horizontalmente */
    }
}

/* Media query para dispositivos móviles (ancho máximo de 768px) */

@media screen and (max-width: 768px) {
    .chart_div2 {
        max-width: 100%;
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .imagen-informacion {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    footer {
        padding: 30px 0;
        /* Ajusta según sea necesario */
    }

    .contenedor-footer {
        flex-direction: column;
        /* Cambia la dirección del flexbox a columna en dispositivos móviles */
        align-items: center;
        /* Centra los elementos horizontalmente */
    }

    .contenido-foo h4 {
        margin-top: 10px;
        margin-bottom: 10px;
        border-bottom: 3px solid #fff;
    }

    /* Otras reglas específicas para dispositivos móviles si es necesario */
}